<head>
    <meta charset="UTF-8"/>
    <title>Mi Aplicación</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>

<div id="content">
    <h2>Lista de Empleados</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Categoría</th>
            <th>Años</th>
            <th>Alta</th>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Sexo</th>
        </tr>
        <tr th:each="empleado : ${empleados}">
            <td th:text="${empleado.id}"></td>
            <td th:text="${empleado.categoria}"></td>
            <td th:text="${empleado.anyos}"></td>
            <td th:text="${empleado.alta}"></td>
            <td th:text="${empleado.nombre}"></td>
            <td th:text="${empleado.dni}"></td>
            <td th:text="${empleado.sexo}"></td>
        </tr>
    </table>
</div>

<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>

