<head>
    <meta charset="UTF-8"/>
    <title>Mi Aplicación</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <!-- Aquí puedes poner elementos comunes del encabezado -->
    <a th:href="@{/}">Inicio</a>
    <a th:href="@{/empleados}">Ver Lista de Empleados</a>
    <h1>Mi Aplicación</h1>
</header>

<div id="content">
    <h2>Lista de Empleados</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Categoría</th>
            <th>Años</th>
            <th>Alta</th>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Sexo</th>
        </tr>
        <tr th:each="empleado : ${empleados}">
            <td th:text="${empleado.id}"></td>
            <td th:text="${empleado.categoria}"></td>
            <td th:text="${empleado.anyos}"></td>
            <td th:text="${empleado.alta}"></td>
            <td th:text="${empleado.nombre}"></td>
            <td th:text="${empleado.dni}"></td>
            <td th:text="${empleado.sexo}"></td>
        </tr>
    </table>
</div>

<footer>
    <!-- Aquí puedes poner elementos comunes del pie de página -->
    <p>Derechos de autor © 2023</p>
</footer>
</body>
</html>

