<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sueldo del Empleado</title>
    <link rel="stylesheet" href="../static/css/style.css" >
</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>

<div id="content">
    <h2>Sueldo del Empleado</h2>
    <p th:text="'El sueldo del empleado ' + ${empleado.nombre} + ',con DNI ' + ${empleado.dni} + ' es: ' + ${sueldo}"></p>
</div>

<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>
